<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
<!--    container for metadata(is not displayed on the page):
        title, style (css), link (difference framework or pointing difference files to get some design),
        JavaScript, meta and other  -->


</head>
<body>
<!--putting whatever want to be displayed on the screen     -->
<!--HTML TAGS -->
<!--attribute and value -->
<!--giving features to HTML tags or web_element page by using attribute and value
    adding features = it is adding additional information about the tag and the
    browser itself is running  -->

WELCOME:
<b>Welcome to Java Developer Course</b>

<h1 align="center" style="color:blue">Spring Boot</h1>
<h2>Spring Boot</h2>
<h3>Spring Boot</h3>
<h4>Spring Boot</h4>
<h5>Spring Boot</h5>

<img src="springboot.png" alt="Spring boot image">

<ul>
    <li>JAVA</li>
    <li>MVC</li>
    <li>ORM</li>
</ul>

<a href="https://cydeo.com">Cydeo</a>

<br>
<br>
<table>
    <tr>
        <td>Firstname</td>
        <td>Lastname</td>
        <td>Salary</td>
    </tr>
    <tr>
        <td>Mike</td>
        <td>Smith</td>
        <td>120000</td>
    </tr>
</table>

<ul></ul>
</body>
</html>

<!-- cmd+? = comment in html.file using shortcut  -->
<!-- cmd+s = saving the file and see some changes in the browser -->
<!-- welcome without tag = plain text -->
<!-- <p></p> = switching the paragraph -->
<!-- <b></b> = bold text -->
<!-- <h1></h1> to <h5></h5> = header with difference sizes -->
<!-- <img src="" alt=""> = image by download into template.folder and displayed  -->
<!-- <ul></ul> + <li></li> = list -->
<!-- <a href=""></a> = link by providing the link -->
<!-- <br> = putting the break on the table -->
<!-- <table></table> = create simple web_table
     <tr></tr> = row of the table
     <td></td> = cell or data of the table
     as a DEV will not create custom table but will copy from the platform-->